@use 'sass:map';
@use 'sass:math';
@use 'sass:string';

@function rem($size) {
  @return math.div($size, $fs) * 1rem;
}

// transitions
$transition-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
$transition-duration: 0.4s;
$transition: $transition-duration $transition-timing-function;

// fonts
$fs: 16px;
$font: SuisseIntl, sans-serif;

// Breakpoints
$breakpoints: (
  xxl: 1920px,
  ll: 1440px,
  d: 1201px,
  t: 1024px,
  lg: 992px,
  m: 768px,
  s: 576px,
  xs: 375px
);

//Количество колонок
$col-count-m: 4;
$col-count-t: 4;
$col-count-d: 12;

//Боковые отступы по краям
$col-pad-m: rem(16px);
$col-pad-t: rem(16px);
$col-pad-d: rem(24px);

//Промежутки между колонками
$col-gap-m: rem(16px);
$col-gap-t: rem(16px);
$col-gap-d: rem(24px);

$col-width-m: '((100vw - (#{$col-pad-m} * 2) - (#{$col-gap-m} * #{$col-count-m - 1})) / #{$col-count-m})';
$col-width-t: '((100vw - (#{$col-pad-t} * 2) - (#{$col-gap-m} * #{$col-count-t - 1})) / #{$col-count-t})';
$col-width-d: '((100vw - (#{$col-pad-d} * 2) - (#{$col-gap-d} * #{$col-count-d - 1})) / #{$col-count-d})';

$col-part-m: '(#{$col-width-m} + #{$col-gap-m})';
$col-part-t: '(#{$col-width-t} + #{$col-gap-t})';
$col-part-d: '(#{$col-width-d} + #{$col-gap-d})';