---
import Layout from '@widgets/Layout/Layout.astro';
---

<Layout pageName='ui'>
  <div class='flex flex-col gap-20'>
    <h1 class='text-title-100 devices:text-title-40 px-4'>
      Примеры UI компонентов проекта
    </h1>
  </div>
</Layout>
