---
import Select from '@shared/ui/select/select.astro'

interface Props {
  class?: string
}

const { class: className, ...props } = Astro.props as Props

export { SelectExamples }
---

<div
  class:list={['select-examples', className]}
  {...props}
>
  <div class="mb-10 border border-solid border-gray-400 p-5">
    <h2 class="mb-10 text-center text-2xl font-bold">
      Работа с select
      <br />
      <span class="text-xl font-normal">window.frontApi.select</span>
    </h2>

    <div class="overflow-x-auto">
      <table class="w-full table-auto border-collapse">
        <thead class="bg-gray-100">
          <tr>
            <th class="p-2 text-left font-semibold">Метод</th>
            <th class="p-2 text-left font-semibold">Описание</th>
            <th class="p-2 text-left font-semibold">Параметры</th>
            <th class="p-2 text-left font-semibold">Пример</th>
          </tr>
        </thead>
        <tbody>
          {/** init(selector) **/}
          <tr class="border-b">
            <td class="p-2 font-mono text-sm">init(selector)</td>
            <td class="p-2 text-sm">Инициализация select</td>
            <td class="p-2 text-sm">
              <code>CSS-селектор</code>
            </td>
            <td class="p-2 text-sm">
              <button
                class="rounded-xl border border-solid border-gray-400 border-teal-800 px-2 py-1 text-xs text-teal-800 hover:bg-teal-50 active:bg-teal-100 active:shadow-inner"
                id="select-init"
              >
                init("#tomSelect1")
              </button>
            </td>
          </tr>
          {/** initAll() **/}
          <tr class="border-b">
            <td class="p-2 font-mono text-sm">initAll()</td>
            <td class="p-2 text-sm">Инициализация всех select</td>
            <td class="p-2 text-sm">-</td>
            <td class="p-2 text-sm">
              <button
                class="rounded-xl border border-solid border-gray-400 border-teal-800 px-2 py-1 text-xs text-teal-800 hover:bg-teal-50 active:bg-teal-100 active:shadow-inner"
                id="select-init-all"
              >
                initAll()
              </button>
            </td>
          </tr>
          {/** reInit(selector) **/}
          <tr class="border-b">
            <td class="p-2 font-mono text-sm">reInit(selector)</td>
            <td class="p-2 text-sm">Переинициализация select</td>
            <td class="p-2 text-sm">
              <code>CSS-селектор</code>
            </td>
            <td class="p-2 text-sm">
              <button
                class="rounded-xl border border-solid border-gray-400 border-teal-800 px-2 py-1 text-xs text-teal-800 hover:bg-teal-50 active:bg-teal-100 active:shadow-inner"
                id="select-reinit"
                onclick="window.frontApi.select.reInit('#tomSelect1')"
              >
                reInit("#tomSelect1")
              </button>
            </td>
          </tr>
          {/** reInitAll() **/}
          <tr class="border-b">
            <td class="p-2 font-mono text-sm">reInitAll()</td>
            <td class="p-2 text-sm">Переинициализация всех select</td>
            <td class="p-2 text-sm">-</td>
            <td class="p-2 text-sm">
              <button
                class="rounded-xl border border-solid border-gray-400 border-teal-800 px-2 py-1 text-xs text-teal-800 hover:bg-teal-50 active:bg-teal-100 active:shadow-inner"
                id="select-reinit-all"
              >
                reInitAll()
              </button>
            </td>
          </tr>
          {/** destroy(selector) **/}
          <tr class="border-b">
            <td class="p-2 font-mono text-sm">destroy(selector)</td>
            <td class="p-2 text-sm">Уничтожение экземпляра</td>
            <td class="p-2 text-sm">
              <code>CSS-селектор</code>
            </td>
            <td class="p-2 text-sm">
              <button
                class="rounded-xl border border-solid border-gray-400 border-teal-800 px-2 py-1 text-xs text-teal-800 hover:bg-teal-50 active:bg-teal-100 active:shadow-inner"
                id="select-destroy"
              >
                destroy("#tomSelect1")
              </button>
            </td>
          </tr>
          {/** getCurrentOption(selector) **/}
          <tr class="border-b">
            <td class="p-2 font-mono text-sm">getCurrentOption(selector)</td>
            <td class="p-2 text-sm">Получить выбранные опции</td>
            <td class="p-2 text-sm">
              <code>CSS-селектор</code>
            </td>
            <td class="p-2 text-sm">
              <button
                class="rounded-xl border border-solid border-gray-400 border-teal-800 px-2 py-1 text-xs text-teal-800 hover:bg-teal-50 active:bg-teal-100 active:shadow-inner"
                id="select-get-current-option"
              >
                getCurrentOption("#tomSelect1")
              </button>
            </td>
          </tr>
          {/** addOption(selector, option) **/}
          <tr class="border-b">
            <td class="p-2 font-mono text-sm">addOption(selector, option)</td>
            <td class="p-2 text-sm">Добавить новую опцию</td>
            <td class="p-2 text-sm">
              <code>Object &#123;value, label&#125;</code>
            </td>
            <td class="p-2 text-sm">
              <button
                class="rounded-xl border border-solid border-teal-800 px-2 py-1 text-xs text-teal-800 hover:bg-teal-50 active:bg-teal-100 active:shadow-inner"
                id="select-add-option"
              >
                addOption({'value: 4, label: New 4'})
              </button>
            </td>
          </tr>
          {/** removeOption(selector, value) **/}
          <tr class="border-b">
            <td class="p-2 font-mono text-sm">removeOption(selector, value)</td>
            <td class="p-2 text-sm">Удалить опцию</td>
            <td class="p-2 text-sm">
              <code>String</code>
            </td>
            <td class="p-2 text-sm">
              <button
                class="rounded-xl border border-solid border-gray-400 border-teal-800 px-2 py-1 text-xs text-teal-800 hover:bg-teal-50 active:bg-teal-100 active:shadow-inner"
                id="select-remove-option"
              >
                removeOption("2")
              </button>
            </td>
          </tr>
          {/** removeAllOptions(selector) **/}
          <tr class="border-b">
            <td class="p-2 font-mono text-sm">removeAllOptions(selector)</td>
            <td class="p-2 text-sm">Удалить все опции</td>
            <td class="p-2 text-sm">-</td>
            <td class="p-2 text-sm">
              <button
                class="rounded-xl border border-solid border-gray-400 border-teal-800 px-2 py-1 text-xs text-teal-800 hover:bg-teal-50 active:bg-teal-100 active:shadow-inner"
              >
                removeAllOptions()
              </button>
            </td>
          </tr>
          {/** resetOptions(selector, options, defaultValue) **/}
          <tr class="border-b">
            <td class="p-2 font-mono text-sm">resetOptions(selector, options, defaultValue)</td>
            <td class="p-2 text-sm">Полная замена опций</td>
            <td class="p-2 text-sm">
              <code>Array, String</code>
            </td>
            <td class="p-2 text-sm">
              <button
                class="border-red-800 text-red-800 rounded-xl border border-solid px-2 py-1 text-xs hover:bg-teal-50 active:bg-teal-100 active:shadow-inner"
                id="select-reset"
              >
                resetOptions()
              </button>
            </td>
          </tr>
          {/** getValue(selector) **/}
          <tr class="border-b">
            <td class="p-2 font-mono text-sm">getValue(selector)</td>
            <td class="p-2 text-sm">Получить текущее значение</td>
            <td class="p-2 text-sm">
              <code>CSS-селектор</code>
            </td>
            <td class="p-2 text-sm">
              <button
                class="rounded-xl border border-solid border-gray-400 border-teal-800 px-2 py-1 text-xs text-teal-800 hover:bg-teal-50 active:bg-teal-100 active:shadow-inner"
                id="select-get-value"
              >
                getValue()
              </button>
            </td>
          </tr>
          {/** setValue(selector, value) **/}
          <tr class="border-b">
            <td class="p-2 font-mono text-sm">setValue(selector, value)</td>
            <td class="p-2 text-sm">Установить значение</td>
            <td class="p-2 text-sm">
              <code>String &#124; Array</code>
            </td>
            <td class="p-2 text-sm">
              <button
                class="rounded-xl border border-solid border-blue-800 border-gray-400 px-2 py-1 text-xs text-teal-800 hover:bg-teal-50 active:bg-teal-100 active:shadow-inner"
                id="select-set-value"
              >
                setValue()
              </button>
            </td>
          </tr>
          {/** isInitialized(selector) **/}
          <tr class="border-b">
            <td class="p-2 font-mono text-sm">isInit(selector)</td>
            <td class="p-2 text-sm">Проверить инициализацию</td>
            <td class="p-2 text-sm">
              <code>CSS-селектор</code>
            </td>
            <td class="p-2 text-sm">
              <button
                class="rounded-xl border border-solid border-gray-400 border-teal-800 px-2 py-1 text-xs text-teal-800 hover:bg-teal-50 active:bg-teal-100 active:shadow-inner"
                id="select-is-init"
              >
                isInit()
              </button>
            </td>
          </tr>
          {/** getInstance(selector) **/}
          <tr>
            <td class="p-2 font-mono text-sm">getInstance(selector)</td>
            <td class="p-2 text-sm">Получить экземпляр TomSelect</td>
            <td class="p-2 text-sm">
              <code>CSS-селектор</code>
            </td>
            <td class="p-2 text-sm">
              <button
                class="rounded-xl border border-solid border-gray-400 border-teal-800 px-2 py-1 text-xs text-teal-800 hover:bg-teal-50 active:bg-teal-100 active:shadow-inner"
                id="select-get-instance"
              >
                getInstance()
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="mt-10 grid grid-cols-2 gap-5">
      <Select>
        <select
          id="tomSelect1"
          class="js-tomselect w-full"
        >
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
        </select>
      </Select>

      <Select>
        <select
          id="tomSelect2"
          class="js-tomselect w-full"
          multiple
        >
          <option value="a">Multi A</option>
          <option value="b">Multi B</option>
          <option value="c">Multi C</option>
        </select>
      </Select>
    </div>
  </div>
</div>

<style>
  @import './select-examples.scss';
</style>
