@mixin color-light {
  @apply bg-white text-primary !important;

  @media #{media('>',d)} and (hover: hover) and (pointer: fine) {
    &:hover {
      @apply bg-primary text-white !important;
    }
  }

  &[disabled] {
    opacity: 0.3 !important;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: rem(12px);
  transition: color, background-color $transition;
  user-select: none;
  @apply text-title-20;

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.1;
    pointer-events: none;
  }

  @media #{media('<',d)} {
    @apply text-title-14;
  }

  &__icon {
    flex-shrink: 0;
    width: rem(32px);
    height: rem(32px);

    @media #{media('<',d)} {
      height: rem(24px);
      width: rem(24px);
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &_variant {
    &_text {
      width: fit-content;

      @media #{media('<',d)} {
        gap: rem(8px) !important;
        @apply text-title-16;
      }
    }

    &_contained {
      width: 100%;
      transition: $transition;
      height: rem(100px);
      padding-inline: rem(24px);

      @media #{media('<',d)} {
        height: rem(60px);
        padding-inline: rem(16px);
        justify-content: space-between;
        gap: rem(24px) !important;
      }
    }

    &_outlined {
      border: 1px solid;
      @apply border-primary;

      width: 100%;
      height: rem(78px);
      padding-inline: rem(24px);
      justify-content: flex-start !important;
      @include color-light;

      @media #{media('<',d)} {
        height: rem(56px);
        padding-inline: rem(16px);
        @apply text-title-16;
      }
    }
  }

  &_color {
    &_primary {
      @apply bg-primary text-white;

      @media #{media('>',d)} and (hover: hover) and (pointer: fine) {
        &:hover {
          @apply bg-gray;
        }
      }

      &.button_variant_text {
        @apply text-primary bg-transparent;

        @media #{media('>',d)} and (hover: hover) and (pointer: fine) {
          &:hover {
            @apply text-gray bg-transparent;
          }
        }

        &[disabled] {
          cursor: not-allowed;
          opacity: 0.3;
          pointer-events: none;
        }
      }
    }

    &_light {
      @include color-light;

      @media #{media('<',d)} {
        gap: rem(4px) !important;
        justify-content: center !important;
      }
    }
  }
}