@mixin color-light {
  @apply bg-white text-primary !important;

  @media #{media('>',d)} and (hover: hover) and (pointer: fine) {
    &:hover {
      @apply bg-primary text-white !important;
    }
  }

  &[disabled] {
    opacity: 0.3 !important;
  }
}

.button {
  user-select: none;

  display: flex;
  gap: rem(12px);
  align-items: center;
  justify-content: center;

  transition:
    color,
    background-color $transition;

  @apply text-title-20;

  @media #{media('<',d)} {
    @apply text-title-14;
  }

  &[disabled] {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.1;
  }

  &__icon {
    flex-shrink: 0;
    width: rem(32px);
    height: rem(32px);

    @media #{media('<',d)} {
      width: rem(24px);
      height: rem(24px);
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &_variant {
    &_text {
      width: fit-content;

      @media #{media('<',d)} {
        gap: rem(8px) !important;

        @apply text-title-16;
      }
    }

    &_contained {
      width: 100%;
      height: rem(100px);
      padding-inline: rem(24px);
      transition: $transition;

      @media #{media('<',d)} {
        gap: rem(24px) !important;
        justify-content: space-between;
        height: rem(60px);
        padding-inline: rem(16px);
      }
    }

    &_outlined {
      justify-content: flex-start !important;

      width: 100%;
      height: rem(78px);
      padding-inline: rem(24px);
      border: 1px solid;

      @apply border-primary;
      @include color-light;

      @media #{media('<',d)} {
        height: rem(56px);
        padding-inline: rem(16px);

        @apply text-title-16;
      }
    }
  }

  &_color {
    &_primary {
      @apply bg-primary text-white;

      @media #{media('>',d)} and (hover: hover) and (pointer: fine) {
        &:hover {
          @apply bg-gray;
        }
      }

      &.button_variant_text {
        @apply bg-transparent text-primary;

        @media #{media('>',d)} and (hover: hover) and (pointer: fine) {
          &:hover {
            @apply bg-transparent text-gray;
          }
        }

        &[disabled] {
          pointer-events: none;
          cursor: not-allowed;
          opacity: 0.3;
        }
      }
    }

    &_light {
      @include color-light;

      @media #{media('<',d)} {
        gap: rem(4px) !important;
        justify-content: center !important;
      }
    }
  }
}
