@mixin color-light {
  @apply bg-white text-primary !important;

  @media #{media('>',d)} and (hover: hover) and (pointer: fine) {
    &:hover {
      @apply bg-primary text-white !important;
    }
  }

  &[disabled] {
    opacity: 0.3 !important;
  }
}

.button {
  user-select: none;

  display: flex;
  gap: rem(12px);

  transition:
    color,
    background-color $transition;

  @apply text-title-20;

  @media #{media('<',d)} {
    @apply text-title-14;
  }

  &[disabled] {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.1;
  }

  &__icon {
    flex-shrink: 0;
    width: rem(32px);
    height: rem(32px);

    @media #{media('<',d)} {
      width: rem(24px);
      height: rem(24px);
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &_variant {
    &_text {
      width: fit-content;

      @media #{media('<',d)} {
        gap: rem(8px) !important;

        @apply text-title-16;
      }
    }

    &_contained {
      width: 100%;
      height: rem(100px);
      padding-inline: rem(24px);
      transition: $transition;

      @media #{media('<',d)} {
        gap: rem(24px) !important;
        justify-content: space-between;
        height: rem(60px);
        padding-inline: rem(16px);
      }
    }

    &_outlined {
      justify-content: flex-start !important;

      width: 100%;
      height: rem(78px);
      padding-inline: rem(24px);
      border: 1px solid;

      @apply border-primary;
      @include color-light;

      @media #{media('<',d)} {
        height: rem(56px);
        padding-inline: rem(16px);

        @apply text-title-16;
      }
    }
  }

  &_color {
    &_primary {
      position: relative;
      height: 100px;
      @apply text-white;
      padding: 20px;
      align-self: flex-start;

      border-radius: 20px;
      background: var(--CNP-2, #0070b8);

      &::after {
        content: '';
        position: absolute;
        bottom: 8px;
        right: 8px;
        width: 40px;
        height: 40px;
        background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nNDAnIGhlaWdodD0nNDAnIHZpZXdCb3g9JzAgMCA0MCA0MCcgZmlsbD0nbm9uZScgeG1sbnM9J2h0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnJz48cmVjdCB4PScwLjUnIHk9JzAuNTAwMTIyJyB3aWR0aD0nMzknIGhlaWdodD0nMzknIHJ4PScxMS41JyBmaWxsPSd3aGl0ZScvPjxyZWN0IHg9JzAuNScgeT0nMC41MDAxMjInIHdpZHRoPSczOScgaGVpZ2h0PSczOScgcng9JzExLjUnIHN0cm9rZT0nI0U0RTRFNCcvPjxwYXRoIGQ9J00yMi4wMjUgMTQuOTQxOEwyNy4wODMzIDIwLjAwMDFNMjcuMDgzMyAyMC4wMDAxTDIyLjAyNSAyNS4wNTg1TTI3LjA4MzMgMjAuMDAwMUwxMi41IDIwLjAwMDEnIHN0cm9rZT0nIzBCMTIyNicgc3Ryb2tlLXdpZHRoPScyJyBzdHJva2UtbWl0ZXJsaW1pdD0nMTAnIHN0cm9rZS1saW5lY2FwPSdyb3VuZCcgc3Ryb2tlLWxpbmVqb2luPSdyb3VuZCcvPjwvc3ZnPgo=');
        background-repeat: no-repeat;
      }

      @media #{media('>',d)} and (hover: hover) and (pointer: fine) {
        &:hover {
          @apply bg-gray;
        }
      }

      &.button_variant_text {
        @apply bg-transparent text-primary;

        @media #{media('>',d)} and (hover: hover) and (pointer: fine) {
          &:hover {
            @apply bg-transparent text-gray;
          }
        }

        &[disabled] {
          pointer-events: none;
          cursor: not-allowed;
          opacity: 0.3;
        }
      }
    }

    &_light {
      @include color-light;

      @media #{media('<',d)} {
        gap: rem(4px) !important;
        justify-content: center !important;
      }
    }
  }
}
