---
interface Props extends astroHTML.JSX.InputHTMLAttributes {
  class?: string
  'data-validate'?: string
}

const { class: className, ...props } = Astro.props as Props
---

<label
  class:list={['input', className]}
  data-input-parent
>
  <input
    class="input__field"
    data-input
    {...props}
  />
  <span
    class="input__error"
    data-error-container
  ></span>
</label>

<style>
  @import './input.scss';
</style>
