---
interface Props {
  class?: string
  variant?: 'default' | 'text'
  label: string
  name: string
  value: string
  checked?: boolean
  disabled?: boolean
}

const { variant = 'default', class: className, label, ...props } = Astro.props as Props
---

<label class:list={['radio', `radio_${variant}`, { disabled: props.disabled }, className]}>
  <input
    type="radio"
    {...props}
    class="radio__input"
  />
  <span class="radio__circle"></span>
  <span class="radio__text">{label}</span>
</label>

<style>
  @import './radio.scss';
</style>
