---
interface Props {
  class?: string
  label: string
  name: string
  value: string
  checked?: boolean
  disabled?: boolean
}

const { class: className, label, ...props } = Astro.props as Props
---

<label class:list={['radio', { disabled: props.disabled }, className]}>
  <input
    type='radio'
    {...props}
    class='radio__input'
  />
  <span class='radio__circle'></span>
  <span class='radio__text'>{label}</span>
</label>

<style>
  @import './radio.scss';
</style>
