---
import Icon from '@assets/images/svg/close.svg'
interface Props {
  id: string
}

const { id } = Astro.props

export { SideModal }
---

<div
  class="modal-wrapper"
  data-modal={id}
>
  <div
    class="modal-wrapper__overlay"
    data-modal-backdrop
  >
  </div>
  <div class="modal-wrapper__content side-modal">
    <div
      class="side-modal__close"
      data-modal-close={id}
    >
      <Icon />
    </div>

    <div
      class="side-modal__wrapper"
      data-lenis-prevent="true"
    >
      <slot />
    </div>
  </div>
</div>

<style>
  @import './modals.scss';
</style>
