.tab {
  border: 1px solid #e4e4e4;
  padding: 12px 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 16px;
  transition: $transition;

  &__circle {
    transition: $transition;
    width: 32px;
    height: 32px;
    border-radius: 18px;
    border: 2px solid #e4e4e4;
    background: #fff;
  }

  &__text {
    font-size: 24px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: -0.24px;
  }

  @media #{media('>',t)} and (hover: hover) and (pointer: fine) {
    &:hover {
      @apply text-primary;
    }
  }

  &.active {
    pointer-events: none;
    background-color: #0070b8;

    .tab__circle {
      border-width: 8px;
      background: #0070b8;
      border-color: #fff;
    }

    .tab__text {
      color: #fff;
    }
  }

  &[disabled] {
    pointer-events: none;
    opacity: 0.4;
  }
}
