html {
  font-family: $font;
  font-weight: 300;
  font-style: normal;
  line-height: 150%;
}

// body {
//   &.overflow-hidden {
//     overflow: hidden;
//   }
// }

.crop-text {
  overflow: hidden;
  display: -moz-box;
  display: -webkit-box;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  box-orient: vertical;

  text-overflow: ellipsis;
}

.test {
  border: 1px solid red !important;
}

svg {
  overflow: visible;
  width: 100%;
  height: 100%;

  &:not(.initial) {
    * {
      transform-box: fill-box;

      &[fill] {
        fill: currentColor;
      }

      &[stroke] {
        stroke: currentColor;
      }
    }
  }
}

textarea {
  caret-color: currentColor;
}

input {
  outline: none !important;
  caret-color: currentColor;

  &:is(:-webkit-autofill, :autofill) {
    transition-delay: 9999999999s;
  }
}

[data-horizontal-scroll] {
  overscroll-behavior-x: contain;
}