html {
  font-family: $font;
  font-weight: 300;
  font-style: normal;
  line-height: 150%;
}

body {
  &.overflow-hidden {
    overflow: hidden;
  }
}

picture {
  overflow: hidden;
  display: flex;
  align-items: center;

  width: 100%;
  height: 100%;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.crop-text {
  overflow: hidden;
  display: -moz-box;
  display: -webkit-box;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  box-orient: vertical;

  text-overflow: ellipsis;
}

.test {
  border: 1px solid red !important;
}

svg {
  overflow: visible;
  width: 100%;
  height: 100%;

  * {
    transform-box: fill-box;

    &[fill] {
      fill: currentColor;
    }

    &[stroke] {
      stroke: currentColor;
    }
  }
}

input {
  &:is(:-webkit-autofill, :autofill) {
    transition-delay: 9999999999s;
  }
}

code {
  padding-inline: rem(4px);
  border-radius: rem(4px);
  font-family: monospace;

  @apply bg-gray text-white;
}
