.author {
  display: flex;
  align-items: center;
  gap: rem(8px);
  width: fit-content;
  @apply text-16 uppercase;

  @media #{media('<',d)} {
    gap: 4px;
    @apply text-12;
  }

  &__logo {
    flex-shrink: 0;
    height: 12px;
    width: fit-content;
    transition: color $transition;

    @media #{media('<',d)} {
      height: 8px;
    }

    @media #{media('>',d)} and (hover: hover) and (pointer: fine) {
      &:hover {
        @apply text-secondary;
      }
    }

    svg {
      height: 100%;
    }
  }
}