.icon {
  overflow: visible;

  &:not(.icon_initial) {
    :global(*) {
      transform-box: fill-box;
      transform-origin: center;

      &[fill] {
        fill: currentColor;
      }

      &[stroke] {
        stroke: currentColor;
      }
    }
  }
}