---
import Footer from '@widgets/footer/Footer.astro'
import Header from '@widgets/header/Header.astro'

interface Props {
  pageName?: string
  props?: any
}

const { pageName, ...props } = Astro.props as Props

export { Layout }
---

<!doctype html>
<html
  lang="ru"
  data-overlayscrollbars-initialize
>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.svg"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />

    <slot name="description">
      <meta
        name="description"
        content="Описание страницы"
      />
    </slot>

    <slot name="opengraph">
      <meta
        property="og:title"
        content="Название страницы"
      />
      <meta
        property="og:description"
        content="Описание страницы"
      />
      <meta
        property="og:image"
        content="https://example.com/image.jpg"
      />
      <meta
        property="og:url"
        content="https://example.com"
      />
      <meta
        property="og:type"
        content="website"
      />
    </slot>

    <title>{pageName}</title>
  </head>
  <body
    data-scrollbar
    data-overlayscrollbars-initialize
  >
    <div class="wrapper">
      <Header />
      <main
        class="page-container"
        {...props}
      >
        <slot />
      </main>
      <!-- <Footer /> -->
    </div>
  </body>
</html>

<style is:global>
  @import '@shared/styles/index.scss';
  @import './index.scss';
</style>

<script src="@shared/scripts/index.ts"></script>
