---
import Footer from '@widgets/Footer/Footer.astro';
import Header from '@widgets/Header/Header.astro';

interface Props {
  pageName?: string;
  props?: any;
}

const { pageName, ...props } = Astro.props as Props;

export { Layout };
---

<!doctype html>
<html lang='ru'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{pageName}</title>
  </head>
  <body>
    <div class='wrapper'>
      <Header />
      <main
        class='page-container'
        data-barba='container'
        data-barba-namespace={pageName}
        {...props}
      >
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>

<style is:global>
  @import '@shared/styles/index.scss';
  @import './index.scss';
</style>

<script src='@shared/scripts/index.js'></script>
