---
import Layout from '@widgets/layout/Layout.astro'
import TabsExamples from './_components/tabs-examples/TabsExamples.astro'
import AccordionExamples from './_components/accordion-examples/AccordionExamples.astro'
import ToastsExamples from './_components/toasts-examples/ToastsExamples.astro'
import InitAllExample from './_components/init-all-example/InitAllExample.astro'
import FormsExamples from './_components/forms-examples/FormsExamples.astro'
import SelectExamples from './_components/select-examples/SelectExamples.astro'
---

<Layout pageName="front-api">
  <h1 class="my-12 px-6 text-title-100 devices:px-4 devices:text-title-40">Front API</h1>

  <div class="mb-40 flex flex-col gap-40 px-6 devices:mb-10 devices:gap-10 devices:px-4">
    <InitAllExample />

    <TabsExamples />

    <AccordionExamples />

    <ToastsExamples />

    <FormsExamples />

    <SelectExamples />
  </div>
</Layout>
