---
interface Props {
  class?: string
  list?: Array<{ text: string; href: string }>
}

const { class: className, list = [], ...props } = Astro.props as Props

export { Breadcrumbs }
---

<nav
  class:list={['breadcrumbs', className]}
  {...props}
>
  <ul class="breadcrumbs__list text-title-20 devices:text-title-16">
    <li class="breadcrumbs__item">
      <a
        href="/"
        class="breadcrumbs__item-text"
        >Главная</a
      >
    </li>

    {
      list.map(item => (
        <li class="breadcrumbs__item">
          {list.indexOf(item) === list.length - 1 ? (
            <span class="breadcrumbs__item-text active">{item.text}</span>
          ) : (
            <a
              href={item.href}
              class="breadcrumbs__item-text"
            >
              {item.text}
            </a>
          )}
        </li>
      ))
    }
  </ul>
</nav>

<style>
  @import './index.scss';
</style>
