.breadcrumbs {
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: rem(24px);
    padding: rem(24px);

    @media #{media('<',d)} {
      overflow-x: auto;
      flex-wrap: nowrap;
      gap: rem(16px);
      padding: rem(16px);
      @include scrollbar-hidden();
    }
  }

  &__item {
    &-text {
      white-space: nowrap;
      transition: color $transition;

      &:not(.active) {
        @media #{media('>',d)} and (hover: hover) and (pointer: fine) {
          &:hover {
            @apply text-secondary;
          }
        }
      }

      &.active {
        @apply text-secondary;
      }
    }
  }
}
