.tooltip {
  display: inline-block;

  &__content {
    display: none;
  }
}

:global(.tippy-box[data-theme~='custom']) {
  background-color: #000;
  width: fit-content;
  padding: rem(8px) rem(16px);
  border-radius: rem(0px);
  text-wrap: nowrap;
}

:global(.tippy-content) {
  padding: 0;
  color: #ffffff;
  text-align: center;
  @apply text-14;
  width: unset !important;
}