---
interface Props {
  id?: string;
  validate?: string;
  placeholder?: string;
  class?: string;
}

const { id, validate, placeholder, ...props } = Astro.props as Props;
---

<div data-input-parent class='textarea__wrapper'>
  <div class='textarea__inner'>
    <textarea
      class:list={[
        'textarea text-primary border-gray-light placeholder text-20 devices:text-14',
      ]}
      id={id}
      placeholder={placeholder + '*'}
      data-input
      data-validate={validate ?? undefined}
      {...props}></textarea>
  </div>
  <span class='textarea__error text-red' data-error-container></span>
</div>

<style>
  @import './textarea.scss';
</style>
