.textarea {
  cursor: text;
  position: relative;
  height: rem(110px);

  @media #{media('<',d)} {
    height: rem(100px);
  }

  &:has(.textarea__error.visible) .textarea__field {
    @apply border-primary;
  }

  &__field {
    padding-bottom: 13px;
    border-bottom: 3px solid;
    transition: border-color $transition;
    display: block;
    resize: none;
    width: 100%;
    height: 100%;
    background: none;
    @apply border-gray-light text-20;

    @media #{media('>',d)} and (hover: hover) and (pointer: fine) {
      &:hover {
        @apply border-primary;
      }
    }

    @media #{media('<',d)} {
      padding-bottom: 14px;
      border-bottom-width: 2px;
      @apply text-14;
    }

    &::placeholder {
      user-select: none;
      color: inherit;
      transition: opacity $transition-timing-function 0.2s;
    }

    &:focus {
      @apply border-primary;

      &::placeholder {
        opacity: 0;
      }
    }

    &[disabled] {
      pointer-events: none;
      cursor: auto;

      @apply border-gray-light text-secondary;
    }
  }

  &__error {
    pointer-events: none;
    will-change: opacity, transform;

    position: absolute;
    top: calc(100% + 4px);
    transform: translateY(-4px);

    height: fit-content;

    transition:
      opacity,
      transform $transition;

    @apply text-12 text-red;

    @media #{media('<',d)} {
      top: calc(100% + 2px);
      transform: translateY(-2px);
    }

    &:not(:empty),
    &.visible {
      pointer-events: auto;
      transform: translateY(0);
      opacity: 1;
    }
  }
}