.checkbox {
  cursor: pointer;

  position: relative;

  display: flex;
  align-items: center;
  gap: rem(16px);

  width: fit-content;

  @media #{media('<',d)} {
    width: 100%;
  }

  @media #{media('>',d)} and (hover: hover) and (pointer: fine) {
    &:hover {
      input:not(:checked) ~ .checkbox__box {
        border-color: #000000;
        background: #ffffff;
      }
    }
  }

  &__box {
    display: block;
    flex-shrink: 0;

    width: 32px;
    height: 32px;
    border: 2px solid #e4e4e4;
    border-radius: 8px;

    background: transparent;

    transition: $transition;

    @media #{media('<',d)} {
      width: 24px;
      height: 24px;
    }

    svg {
      opacity: 0;
      transition: $transition;

      @apply text-white;

      path {
        stroke-dasharray: 25;
        stroke-dashoffset: 25;
        transition: $transition;
      }
    }
  }

  &__text {
    margin-top: 1px;
    transition: color $transition;

    color: #747884;

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 19.2px */
    letter-spacing: -0.16px;

    @include cropText(4);

    @media #{media('<',d)} {
      margin-top: 1.5px;
    }
  }

  input {
    pointer-events: none;

    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;

    width: 0;
    height: 0;

    opacity: 0;
  }

  input:checked ~ &__box {
    @apply border-primary;

    @apply bg-primary;

    svg {
      opacity: 1;

      path {
        stroke-dasharray: 25;
        stroke-dashoffset: 0;
      }
    }
  }

  &:has(input:disabled) {
    pointer-events: none;
    cursor: auto;

    .checkbox__box {
      opacity: 0.5;

      @apply border-gray-light;
    }

    .checkbox__text {
      @apply text-secondary;
    }
  }
}
